#header {
	margin:10px;
	font-family:Courier;
}

#header h1 {
	font-family:impact;
}

#header h3 {
	font-style:italic;
	font-family:Verdana;
}
#menu {
	margin:10px;
	font-family:Courier;
	
}

#menu a {
	display:inline;
	padding-left:10px;
}

#front_contents {
	border:1px solid black;
	font-family:Courier;
	height:60%;
	margin-top:20px;
}

#front_contents p {
	padding-left:6px;
}
